<div class="main layui-clear">

    <div class="fly-tab">
        <span>
            <ul class="layui-nav layui-bg-green">
                <#if user?? && user.usertype?? && user.usertype == "0">
                <li class="layui-nav-item"><a href="/work/workPublish">作业发布</a></li>
                <li class="layui-nav-item"><a href="/work/workScore">作业评分</a></li>
                <li class="layui-nav-item"><a href="/work/sourceUpload">资源上传</a></li>
                </#if>
                <li class="layui-nav-item"><a href="/work/workFile">作业列表</a></li>
                <li class="layui-nav-item"><a href="/work/workDownload">资源下载</a></li>
                <#if user?? && user.usertype?? && user.usertype == "1">
                <li class="layui-nav-item"><a href="/work/myFiles">我的提交</a></li>
                </#if>
            </ul>
        </span>
    </div>
    <h2 class="page-title">作业列表</h2>
    <div class="result">
        <table id="result" class="layui-table" >
            <tr>
                <th>题目</th>
                <th>发布人</th>
                <th>起始日期</th>
                <th>截止日期</th>
                <th>操作</th>
                <th>附件</th>
            </tr>
        </table>
    </div>
</div>
<script>
    function post(url, data, callback){
        $.ajax({
            url: url,
            type: 'POST',
            dataType:"JSON",
            data:  data ||'',
            xhrFields: {
                withCredentials: true
            },
            crossDomain: true,
            success: callback
        });
    }
    /*
    * 下载excel
    * @url  接口url
    * */
    function downloadFileByForm(url) {
        var form = $("<form></form>").attr("action", url).attr("method", "post");
        form.appendTo('body').submit().remove();
    }

    post("/teacher/work/find",null,function (ret) {
        console.log(ret);
        if(ret.msg == "success"){
            var data = ret.data;
            for (var i = 0; i < data.length; i++){
                var url = "/teacher/work/download/"+data[i].id+'/'+data[i].fileUrl;
                var handIn = '<a href="handIn.html?id='+data[i].id+'" style="cursor: pointer">提交</a>';
                var file = '<a onclick="downloadFileByForm(\''+url+'\')" style="cursor: pointer">下载</a>';
                var startDate = data[i].startTime
                startDate = new Date(startDate).toLocaleString();
                var endDate = new Date(data[i].closeTime).toLocaleString();
                if (data[i].fileName == ""){
                    file = "无";
                }
                $("#result").append('' +
                    '<tr>\n' +
                    '\t\t\t\t<th >'+data[i].title+'</th>\n' +
                    '\t\t\t\t<th >'+data[i].userName+'</th>\n' +
                    '\t\t\t\t<th >'+startDate+'</th>\n' +
                    '\t\t\t\t<th >'+endDate+'</th>\n' +
                    '\t\t\t\t<th >'+handIn+'</th>\n' +
                    '\t\t\t\t<th >'+file+'</th>\n' +
                    '\t\t\t</tr>');
            }

        }
    })
    layui.use('element', function(){
        var element = layui.element;

        //…s
    });
</script>