<div class="main layui-clear">
	<div class="fly-tab">
		<span>
            <ul class="layui-nav layui-bg-green">
                <#if user?? && user.usertype?? && user.usertype == "0">
                <li class="layui-nav-item"><a href="/work/workPublish">作业发布</a></li>
                <li class="layui-nav-item"><a href="/work/workScore">作业评分</a></li>
                <li class="layui-nav-item"><a href="/work/sourceUpload">资源上传</a></li>
                </#if>
                <li class="layui-nav-item"><a href="/work/workFile">作业列表</a></li>
                <li class="layui-nav-item"><a href="/work/workDownload">资源下载</a></li>
                <#if user?? && user.usertype?? && user.usertype == "1">
                <li class="layui-nav-item"><a href="/work/myFiles">我的提交</a></li>
                </#if>
            </ul>
      	</span>
	</div>
	<h2 class="page-title">作业发布</h2>
	  
	  <!-- <div class="fly-none">并无权限</div> -->
	
	  <div class="layui-form layui-form-pane">
	    <form id="formData" method="post" enctype="multipart/form-data">
	      <div class="layui-form-item">
	        <label for="L_title" class="layui-form-label">题目</label>
	        <div class="layui-input-block">
	          <input type="text" id="L_title" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
	        </div>
	      </div>
	      <div class="layui-form-item layui-form-text">
	        <div class="layui-input-block">
	          <textarea id="content" name="content" required lay-verify="required" placeholder="请输入内容" class="layui-textarea fly-editor" style="height: 160px;"></textarea>
	        </div>
	        <label for="content" class="layui-form-label" style="top: -2px;">作业要求</label>
	      </div>
	      <div class="layui-form-item">
	        <div class="layui-inline">
	          <label class="layui-form-label">所在类别</label>
	          <div class="layui-input-block">
	            <select id="cate" lay-verify="required" name="cate">
	              <option></option>
	              <option value="default" selected="selected">默认分类</option>
	            </select>
	          </div>
	        </div>
	      </div>
          <div class="layui-form-item">
	           <input id="file" type="file" name="file">
          </div>
          <div class="layui-form-item">
	           <div class="layui-form-pane" style="margin-top: 15px;">
				  <div class="layui-form-item">
				    <label class="layui-form-label">范围选择</label>
				    <div class="layui-input-inline">
				      <input class="layui-input" placeholder="开始日" id="LAY_demorange_s">
				      <input type="hidden" name="start-date" id="start-date">
				    </div>
				    <div class="layui-input-inline">
				      <input name="end-date" class="layui-input" placeholder="截止日" id="LAY_demorange_e">
				      <input type="hidden" name="end-date" id="end-date">
				    </div>
				  </div>
				</div> 
          </div>
	      <div class="layui-form-item">
			  <input class="layui-btn" type="button" id="publish" value="立即发布">
	      </div>
	    </form>
	  </div>
	</div>
</div>
<script>
var layedit  , index, upload;
layui.use(['form' , 'layedit','upload','laydate'], function(){
  var form = layui.form();
  var laydate = layui.laydate;
  layedit = layui.layedit;

  var start = {
  	min: laydate.now()
  	,max: '2099-09-09 23:59:59'
  	,istoday: false
  	,istime: true
  	,format: 'YYYY-MM-DD hh:mm:ss'
  	,choose: function(datas) {
  		end.min = datas;
  		end.start = datas;
  	}
  };

  var end = {
    min: laydate.now()
    ,max: '2099-06-16 23:59:59'
    ,istoday: false
    ,istime: true
    ,format: 'YYYY-MM-DD hh:mm:ss'
    ,choose: function(datas){
      start.max = datas; //结束日选好后，重置开始日的最大日期
    }
  };
  document.getElementById('LAY_demorange_s').onclick = function(){
    start.elem = this;
    laydate(start);
    start_time = Date.parse(new Date(document.getElementById('LAY_demorange_s').value));
    console.log(start_time);
    document.getElementById('start-date').value = start_time;
  }
  document.getElementById('LAY_demorange_e').onclick = function(){
    end.elem = this
    laydate(end);
    end_time = Date.parse(new Date(document.getElementById('LAY_demorange_e').value));
    console.log(end_time);
    document.getElementById('end-date').value = end_time;
  }
  
  layedit.set({
	  uploadImage: {
	    url: '/work/upload.html' //接口url
	    ,type: 'post' //默认post
	  }
  });
  index = layedit.build('content'); //建立编辑器
});
function formPost(url, data, callback){
    $.ajax({
        url: url,
        type: 'POST',
        dataType:"JSON",
        data:  data ||'',
        xhrFields: {
            withCredentials: true
        },
        processData: false,
        contentType: false,
        crossDomain: true,
        success: callback
    });
}

$("#publish").on("click",function () {
    var formData = new FormData();
    var title = $("#L_title").val();
    var workRequirements = layedit.getContent(index);
    var file = document.getElementById("file").files[0];
    if (title == ""){
        layer.alert('请输入题目！',{icon:6});
        return;
	}
    if (workRequirements == ""){
        layer.alert('请输入作业要求！',{icon:6});
        return;
    }
    formData.append("title",title);
    formData.append("workRequirements",workRequirements);
	  formData.append("file",file);
	  formData.append("startTime",start_time);
	  formData.append("closeTime",end_time);
	  formData.append("type",($('select#cate option:selected').val()));
    formPost('/teacher/work/save',formData,function (res) {
        // alert(JSON.stringify(res));
        if(res.msg == "success"){
            layer.alert('添加成功！',{icon:6})
        }else {
            layer.alert('添加失败！',{icon:4})
        }
    })
})

</script>