<!-- 资源上传表 老师可以上传资源学生下载 -->
<div class="main layui-clear">
	<div class="fly-tab">
		<span>
            <ul class="layui-nav layui-bg-green">
                <#if user?? && user.usertype?? && user.usertype == "0">
                <li class="layui-nav-item"><a href="/work/workPublish">作业发布</a></li>
                <li class="layui-nav-item"><a href="/work/workScore">作业评分</a></li>
                <li class="layui-nav-item"><a href="/work/sourceUpload">资源上传</a></li>
                </#if>
                <li class="layui-nav-item"><a href="/work/workFile">作业列表</a></li>
                <li class="layui-nav-item"><a href="/work/workDownload">资源下载</a></li>
                <#if user?? && user.usertype?? && user.usertype == "1">
                <li class="layui-nav-item"><a href="/work/myFiles">我的提交</a></li>
                </#if>
            </ul>
      	</span>
	</div>
	<h2 class="page-title">资源上传</h2>
	  
	  <!-- <div class="fly-none">并无权限</div> -->
	
	  <div class="layui-form layui-form-pane">
	    <form method="post" enctype="multipart/form-data">
	      <div class="layui-form-item">
	        <label for="L_title" class="layui-form-label">文件标题</label>
	        <div class="layui-input-block">
	          <input type="text" id="L_title" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
	        </div>
	      </div>
	      <div class="layui-form-item layui-form-text">
	        <div class="layui-input-block">
	          <textarea id="content" name="content" required lay-verify="required" placeholder="请输入内容" class="layui-textarea fly-editor" style="height: 160px;"></textarea>
	        </div>
	        <label for="content" class="layui-form-label" style="top: -2px;">说明</label>
	      </div>
          <div class="layui-form-item">
	           <input type="file" name="file" id ="file">
          </div>
	      <div class="layui-form-item">
	        <button class="layui-btn" lay-filter="*" id="upload">上传</button>
	      </div>
	    </form>
	  </div>
	</div>
</div>
<script>
var layedit  , index, upload;
layui.use(['form' , 'layedit','upload'], function(){
  var form = layui.form() ;
  layedit = layui.layedit;
  
  layedit.set({
	  uploadImage: {
	  	//这个接口还没有改
	    url: '/work/upload.html' //接口url
	    ,type: 'post' //默认post
	  }
  });
  index = layedit.build('content'); //建立编辑器
});
function formPost(url, data, callback){
    $.ajax({
        url: url,
        type: 'POST',
        dataType:"JSON",
        data:  data ||'',
        xhrFields: {
            withCredentials: true
        },
        processData: false,
        contentType: false,
        crossDomain: true,
        success: callback
    });
}

$("#upload").on("click",function () {
    var formData = new FormData();
    formData.append("title",$("#L_title").val());
    formData.append("content",$("#content").text());
    formData.append("type",2);
    formData.append("file",document.getElementById("file").files[0]);
    console.log(formData);
    formPost('/work/save',formData,function (res) {
        // alert(JSON.stringify(res));
        if(res.msg == "success"){
            layer.alert('添加成功！',{icon:6})
        }else {
            layer.alert('添加失败！',{icon:4})
        }
    })
})
</script>