<div class="main layui-clear">
	<div class="fly-tab">
		<span>
            <ul class="layui-nav layui-bg-green">
                <li class="layui-nav-item"><a href="/">作业列表</a></li>
                <li class="layui-nav-item"><a href="/">已上交</a></li>
                <li class="layui-nav-item"><a href="/">资源下载</a></li>
            </ul>
      	</span>
	</div>
	<div class="layui-row">
	    <div class="layui-col-md9">
	      	<ul>
				<li>
					<div class="layui-card">
					  	<div class="layui-card-header">作业</div>
					  	<div class="layui-card-body">
					  	  作业内容作业内容作业内容作业内容作业内容作业内容作业内容作业内容作业内容作业内容
					  	</div>
					</div>
				</li>
			</ul>
		</div>
  	</div>
	
</div>
<script src="../../../static/js/jquery-1.10.2.min.js"></script>
<script>
	
</script>